.buttonbar{
    width:400px;
}

.center{
    background-color:#f9f9f9;
    text-align:center;
}

.center div{
    display:inline-block;
    margin-left:5px;
    margin-right:5px;
    color:#FFF;
    background-color:darkgray;
}


.details{
    min-width: 500px;
    min-height: 500px;

    margin-left: 5%;
    margin-right: 5%;
    margin-top: -2%;
    margin-bottom: 10%;
}