<!-- <ll-q-button-toggle [(qType)] = "qType"></ll-q-button-toggle> -->
<div class="details" *ngIf="question$ | async as question ">
    <div class="statsbar">
        <div class="center">
            <div *ngFor="let status of stats">
                <p>
                    {{status.txt}}: {{status.value}}
                </p>
            </div>
        </div>
        <span style="color: brown;">Allowed wrong answer: 7</span>
    </div> 
    <ll-q-list-item  [question]="question"></ll-q-list-item>
   
    <div class="buttonbar">
        <div class="center">
            <button mat-button  (click)="backClick()">Back</button>
            <!-- <button mat-button color="warn" [routerLink]="['/check_mode',question.qid +1 ]" >Skip</button> -->
            <button mat-button color="warn" (click)="skipClick()" >Skip</button>
            <button mat-button color="primary" (click)="nextClick()" >Next</button>
        </div>
    </div>  
    
    
   
</div>