<mat-card class="q-card">
    <mat-card-content>


        <div class="q-list-item" *ngIf="question">
            <a class="question" *ngIf="question" [routerLink]="['/questions',question.qid.toString()]" class="list-item">
                <h2>Question:{{ question.qid }}</h2>
                <p>
                    {{ question.qtxt}}
                    {{question.qtyp}}
                </p>
            </a>
            <div>
                <div class="answers-sc" *ngIf="qtype.sc">
                    <h2>Answers</h2>
                    <ul>
                        <mat-radio-group aria-label="Select an option">
                            <li *ngFor="let ans of question?.qanswers; index as i">

                                <p *ngFor="let text of ans?.txt">

                                    <mat-radio-button [value]="i + 1"
                                        (change)="radioButtonChange($event)">{{text}}</mat-radio-button>

                                </p>

                            </li>
                        </mat-radio-group>
                    </ul>

                </div>
                <div class="answers-mc" *ngIf="qtype.mc">
                    <h2>Answers</h2>
                    <ul>

                        <li *ngFor="let ans of question?.qanswers; index as i">
                            <p *ngFor="let text of ans?.txt">
                                <mat-checkbox class="item-check" (change)="checkMCAns(i + 1 )">{{text}}</mat-checkbox>


                            </p>

                        </li>

                    </ul>
                </div>
                <div class="answers-fi" *ngIf="qtype.fi">
                    <h2>Answers</h2>
                    <form class="fi-form">
                        <mat-form-field class="fi-full-width">
                            <span matPrefix> </span>
                            <input type="text" matInput placeholder="Answer" name="fiAns" [(ngModel)]="fiAns"
                                (change)="checkFIAns(fiAns)">
                            <button matSuffix mat-button><mat-icon>spellcheck</mat-icon></button>
                        </mat-form-field>
                        <br />
                        {{fiAns}}
                    </form>


                </div>
                <div>
                    <h2>Correct Answer</h2>
                    {{ question?.qcorrect }}
                </div>
                <div *ngIf="hasInfo">
                    <h2>Info:</h2>
                    {{question?.qinfo}}
                    
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>