<mat-card class="q-card">
    <mat-card-content>
        <div class="q-list-item" *ngIf="question">
            <a class="question" *ngIf="question" [routerLink]="['/questions',question.qid.toString()]"
                class="list-item">
                <h2>Question:{{ question.qid }}</h2>
                <p>
                    {{ question.qtxt}}
                    {{question.qtyp}}
                </p>
            </a>
            <div>
                <div class="answers-sc" *ngIf="qtype.sc">
                    <h2>Answers 
                        <span style="color: green;" *ngIf="ranswer">Correct</span>
                        <span style="color: red" *ngIf="fanswer">Wrong</span>
                    </h2>

                    <ul>
                        <mat-radio-group aria-label="Select an answer">
                            <li *ngFor="let ans of question?.qanswers; index as i">

                                <p *ngFor="let text of ans?.txt">
                                    <mat-radio-button [value]="i"
                                        (click)="checkSC(question, ans)">{{text}}</mat-radio-button>
                                </p>

                            </li>
                        </mat-radio-group>
                    </ul>

                </div>
                <div class="answers-mc" *ngIf="qtype.mc">
                    <h2>Answers <span style="color: green;" *ngIf="ranswer">Correct</span></h2>
                    <ul>

                        <li *ngFor="let ans of question?.qanswers; index as i">
                            <p *ngFor="let text of ans?.txt">
                                <mat-checkbox class="item-check" [(ngModel)] ="checkboxValues[i]"
                                    (change)="checkMCAns(question, ans)">{{text}}</mat-checkbox>
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="answers-fi" *ngIf="qtype.fi">
                    <h2>Answers 
                        <span style="color: green;" *ngIf="ranswer">Correct</span>
                        <span style="color: red" *ngIf="fanswer">Wrong</span>
                    </h2>
                    <form class="fi-form">
                        <mat-form-field class="fi-full-width">
                            <span matPrefix> </span>
                            <input type="text" matInput placeholder="Answer" name="fiAns" [(ngModel)]="fiAns"
                                (change)="checkFIAns(question,fiAns)">
                            <button matSuffix mat-button><mat-icon>spellcheck</mat-icon></button>
                        </mat-form-field>                        
                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>