<mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
        <img class="toolbar-icon"src="../assets/images/tux.png" width="40" height="40">
        <h1>LLCE</h1>
        <span class="toolbar-spacer"></span>
        <div>
            <a mat-button [routerLink]="'/home'"> Home </a>
            <a mat-button [routerLink]="'/learn_mode'"> Learn Mode </a>
            <a mat-button [routerLink]="'/check_mode'"> Check Mode </a>
            <a mat-button [routerLink]="'/exam_mode'"> Exam Mode </a>

        </div>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <span style="font-size: 12px;">
            LLCE helps you to learn, check your skills and do a simulated Exam</span>
            <span class="button-toggle">
                <mat-button-toggle-group name="qTypeButton" #qTypeButton="matButtonToggleGroup"
                (change)="qTypeUpdate($event.value)" aria-label="Font Style">
                    <mat-button-toggle value="qAll" checked>All</mat-button-toggle>
                    <mat-button-toggle value="qSC">Single-Choice</mat-button-toggle>
                    <mat-button-toggle value="qMC">Muli-Choice</mat-button-toggle>
                    <mat-button-toggle value="qFI">Fill-In</mat-button-toggle>
                  </mat-button-toggle-group>
            </span>
            <!-- {{qType$ | async}} -->
            
              
    </mat-toolbar-row>
</mat-toolbar>

<main>
    <router-outlet></router-outlet>    
</main>
