<div class="details" *ngIf="question$ | async as question ">
    <div class="statsbar">
        <div>
            Correct Answer: <span *ngIf="showAnswer"> {{CorrectAns}}</span> 
        </div>
    </div> 
    <ll-q-list-item [question]="question" (selectedCorrect)="handelCorrect($event)" ></ll-q-list-item>

    <div class="buttonbar">
        <div class="center">
            <button mat-button (click)="backClick()">Back</button>
            <button mat-button color="warn" (click)="showClick()">Show Answer</button> 
            <button mat-button color="primary" (click)="nextClick()">Next</button>
        </div>
    </div>

</div>
















<!-- <div class="details" *ngIf="question$ | async as question">
    
    <h2>Question:{{ question.qid }}</h2>
    <p>
        {{ question.qtxt}}
    </p>
    
    <div >
        <h2>Correct Answer</h2>
        {{ question?.qcorrect }}
    </div>
    <div>
        <h2>Info:</h2>
        {{question?.qinfo}}
   
    <a class="button" routerLink="..">Back</a>
     <button class="red" (click)="nextQuestion(question.qid)">Next</button> 

</div> -->